* {
  margin: 0;
  padding: 0;
}
.marcadorContainer {
  display: flex;
  margin-bottom: 10px;
}
.marcador {
  border: 1px solid black;
  text-align: center;
  width: 100px;
  padding: 10px;
}
.marcador > h3 {
  margin-bottom: 10px;
}
#marcadorPlayer,
#marcadorPC {
  font-size: 3rem;
}
.botones > span {
  font-size: 4rem;
  user-select: none;
  cursor: pointer;
}
ol {
  padding: 20px;
}
